*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-radius: 30px;
    box-shadow: 12px 12px 27px;
    width: auto;
    height: 37.5rem;
}
img{
    width: 120%;
    height: 37.5rem;
    border-top-left-radius: 400px;
    border-bottom-right-radius: 429px;
}
.login h1{
    font-size: 4rem;
    font-weight: 300;
}
.inp{
    height: 50px;
    width: 70%;
    border: none;
    border-radius: 50px;
    outline: none;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.4);
}

.btn1{
    position: relative;
    border: none;
    color: #ffffff;
    width: 200px;
    height: 50px;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    font-weight: bold;
    outline: none;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
}
.btn1:hover{
    animation: animation 8s linear infinite;
    border: none;
}

@keyframes animation {
    0%{background-position: 0%;}
    100%{background-position:400%;}   
}

.btn1:before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}
.btn1:hover::before{
    filter: blur(20px);
}


p{
    font-size: 20px;
}
.fa-brands{
    padding: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.fa-facebook:hover{
    color: rgb(63, 90, 228);
}
.fa-instagram:hover{
    color: rgb(225, 59, 137);
}
.fa-linkedin:hover{
    color: rgb(63, 90, 228);
}
